@import url('https://fonts.googleapis.com/css?family=Galindo');

@import "welcome/logos";

html, body {
  background: #000;
  height: 100%;
  width:100%;
  overflow: hidden;
  margin:0;
  padding:0;
}

#sky{
  background-image: linear-gradient(-180deg, #3023AE 0%, #53A0FE 47%, #B4ED50 100%);
}

#darkness{
  background: #000033;
}

#scene{
  width: 100%;
  height: 100%;
  img{position: absolute;}
}

#grass1{
  position: absolute;
  width:250%;
  left:-50px;
  transform-origin: bottom left;
  bottom:-600px;
}

#grass2{
  position: absolute;
  bottom:50px;
  width:150%;
  transform: rotate(-2deg);
}

#bomen{
  position: absolute;
  bottom:500px;
  width: 90%;
}

.cloud {
  position: absolute;
}

.cloud1 {
  top: 450px;
  left: 200px;
  transform: scaleX(2) scaleY(2);
}
.cloud2 {
  top: 900px;
  left: 150px;
}
.cloud11 {
  top: 700px;
  left: 950px;
}
.cloud12 {
  top: 700px;
  left: 950px;
}
.cloud13 {
  top: 500px;
  left: 1500px;
}
.cloud13 {
  top: 200px;
  left: 1800px;
}

#plane{
  position: absolute;
  left:3000px;
  top:15%;
  width: 1400px;
}

#zappelin{
  position: absolute;
  left:1700px;
  top:-5%;
  width: 400px;
}

#plane-content{
  top:30%;
  left:1500px;
}

#vuurtoren{
  position: absolute;
  left:4300px;
  bottom:630px;
  width: 175px;
}

#tree {
  position: absolute;
  height:140%;
  left:18300px;
  bottom:0;
}

#zon, #maan {
  position: absolute;
  height:600px;
}

#fence{
  position: absolute;
  bottom:200px;
  width:1100px;
}

#sponsors{
  position: absolute;
  bottom:0;
  width:1100px;
  z-index: 9999;
}

#solar{
  width:4000px;
  height:600px;
  position: absolute;
  top:90%;
  margin-left:-2000px;

  #zon {
    left:-100px;
    top:-400px;
  }
  #maan {
    height:1800px;
    right:-800px;
    top:-200px;
  }
}

#water{
  width:1300px;
  position: absolute;
  bottom:300px;
  left:2600px;
  transform: rotate(01deg);
  .wave{
    position: absolute;
    bottom:0;
    opacity: 0.8;
  }
  #water1{
    transform:scaleY(0.4);
    bottom:80px;
  }
  #water2{
    transform:scaleY(0.4);
    bottom:60px;
  }
  #water3{
    transform:scaleY(0.4);
    bottom:100px;
    left:-100px;
  }
  #boat{
    width:350px;
    position: absolute;
    left: 450px;
    bottom: 130px;
  }
}

#raket{
  position: absolute;
  right:1300px;
  width:200px;
  transform: rotate(60deg);
}

.layer{
  height: 100%;
  width: 6000px;
}

#mask{
  position: absolute;
  bottom:0;
  left:0;
}

.content{
  position: absolute;
  font-family: Arial;
  background: rgba(255,255,255,0.5);
  border-radius: 50px;
  padding:70px;
  width:450px;
  font-size:2em;
  h2{margin-top:0}
  p{margin-bottom:0}
}
